@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot);
    font-weight: normal;
    font-style: normal;
}

.counter {
    display: flex;
    background-color: rgb(36, 171, 175);
    width: 500px;
    height: 300px;
    margin-left: calc(50% - 250px);
    margin-top: 150px;
    border-radius: 25px;
    color: white;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(10, 104, 141);
    box-shadow: 3px 3px 5px rgb(134, 74, 184);
}

.name{
    text-align: center;
    margin-top: 50px;
    font-size: 24px;

}

.result {
    margin-top: 20px;
    font-size: 32px;
}

.container{
    margin-left: 40px;
    margin-right: 40px;
    width: 450px;
    height: 100px;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-around;
}
button {
    margin-top: 10px;
    height: 44px;
    width: 100px;
    border-radius: 10px;
    border-style: hidden;
    color: black;
    background-color: white;
}

button:hover{
    box-shadow: 3px 3px 5px rgb(16, 52, 117);
    cursor: pointer;
}

.sub{
    background-color: orangered;
}

.res{
    color: black;
}

.add{
    background-color: greenyellow;
}

.minus{
    color: orangered;
}

.plus{
    color: greenyellow;
}

.nt{
    color: white;
}

.fa-minus, .fa-plus{
    color: white;
}
